# ignore ALL .log files
*.log

# ignore ALL .zip files
*.zip

# ignore ALL .rar files
*.rar

# ignore config.json
config.json

# ignore .sh files
*.sh

#ignore node_modules
node_modules/

#ignore logs
logs/